<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Travel App</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
    <div id="app">
        <div class="holder headline">
            Travel App
        </div>
        <div class="holder zip">
            <label for="zip">Enter Zipcode of a German City here</label>
            <input type="text" id="zip" placeholder="enter zip code here">
            <button id="generate" type="submit">Generate</button>
        </div>

        <div class="holder entry">
            <div class="title">Most Recent Entry</div>
            <div id="entryHolder">
                <div id="place"></div>
                <div id="lng"></div>
                <div id="lat"></div>
            </div>
        </div>
    </div>
</body>

</html>
